<footer class="mb-0" style="background-color: #ffffff;  position: fixed; width: 100%; bottom: 0; height: 80px;">
    <div class="f-info" style="background-color: #d8d8d8;">
        <div class="f-info-socials ">
            
        </div>
        <div class="f-info-brand " style="position: absolute; bottom: 47px;">&copy; ChefMatch Private Limited</div>
        <div class="f-info-links " style="position: absolute; bottom: 20px;">
            <i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;&nbsp;
            <i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;&nbsp;
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
</footer>