<nav class="navbar bg-secondary navbar-expand-md bg-body-light border-bottom sticky-top mb-3">
    <div class="container-fluid bg-secondary navbar-expand-lg bg-body-tertiary">
      <a class="navbar-brand" href=""><img style="height: 38px;;" src="https://github.com/karan9576/ChefMatch/blob/main/public/images/logo.png?raw=true" alt="nothing to show">&nbsp;&nbsp;ChefMatch</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link " href="" >Something</a>
          <a class="nav-link" href="">Something</a>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link " href=""><b>Signup</b></a>
          <a class="nav-link" href=""><b>Login</b></a>

        </div>
      </div>
    </div>
  </nav>