<nav class="navbar  navbar-expand-md bg-body-light border-bottom sticky-top mb-0" style="height: 70px; background-color: #000000">
  <div class="container-fluid  navbar-expand-lg " style="background-color: #040405">
    <a class="navbar-brand d-flex align-items-center" href="/users/listings" style="color: white;">
        <img style="height: 38px; filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(360deg) brightness(100%) contrast(100%);" src="https://github.com/karan9576/ChefMatch/blob/main/public/images/logo.png?raw=true" alt="nothing to show">
        <span class="ms-2">ChefMatch</span>
      </a>
      

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
          
          <div class="navbar-nav ms-auto">
            
            
            <%if(!currUser){%>
            <a class="nav-link text-white mr-3" href="/users/login"  >Login</a>  
            
            <a class="nav-link text-white mr-3" href="/users/signup"  >Signup</a>  
            <% }else{%>
            <a class="nav-link text-white mr-3" href="/users/bookings"  >Bookings</a>
            <a class="nav-link text-white mr-3" href=""  >Hi , <%=currUser.name%></a>
            <a class="nav-link text-white mr-3" href="/users/logout"  >Logout</a>
            <%}%>
           
          </div>
      </div>
  </div>
</nav>

<script>
  function navigateToLogin(select) {
      const url = select.value;
      if (url) {
          window.location.href = url;
      }
  }
</script>

