<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Profiles</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .profile-card {
            margin: 20px 0;
        }
        .profile-img {
            width: 100%;
            height: auto;
        }
        .profile-info {
            text-align: center;
        }
    </style>
</head>
<body>
        
        
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
                <% for(let cook of allCooks) { %>
                    <a href="/users/cook/<%=cook._id%>" class="listing-link">
                        <div class="card col listing-card">
                        
                                        <%= cook.name%><br>
                      
                            </div>
                  
                 

                    <%}%>
        </div>

</body>
</html>
